<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  <mapper namespace="edu.spring.mappers.BoardMapper">
  		<!-- SQL 문장들을 정의 -->
  		<select id="selectAll" resultType="Board">
  			SELECT * FROM ${tbl_board}
  			ORDER BY ${board.bno} DESC
  		</select>
  		
  		<select id="selectOne" resultType="Board">
  			select * from ${tbl_board}
  			where ${board.bno} = #{bno}
  		</select>
  		
  		<select id="insert">
  		insert into ${tbl_board} 
  		(${board.title}, ${board.content}, ${board.userid}) 
  		values (#{title}, #{content}, #{userId})
  		</select>
  		
  		<update id="update">
  		update ${tbl_board} 
  		set ${board.title} = #{title}, ${board.content} = #{content}, 
  		${board.regdate} = sysdate
  		where ${board.bno} = #{bno}
  		</update>
  		
  		<delete id="delete">
  		delete from ${tbl_board} 
  		where ${board.bno} = #{bno}
  		</delete>
  		
  		<update id="udateReplyCnt">
  			update ${tbl_board}
  			set ${board.replycnt} = ${board.replycnt} + #{increment}
  			where ${board.bno} = #{bno}
  		</update>
  </mapper>